/* sketch-wrapper.cpp
 *
 * Do includes and such necessary to support
 * an Arduinoish sketch code, which we include from here
 */

#include "WProgram.h"

void setup();

void loop();

#include "sketch.pde"

