/*                                             -*- mode:C++ -*-
 *
 * Sketch description: [What this sketch does]
 *
 * Sketch author: [Who made it]
 *
 */

// [Helper functions, if needed, go here]

void setup() {
  // [One time setup instructions go here]
  pinMode(13, OUTPUT);
}

void loop() {
  // [Repeating main loop instructions go here]

  digitalWrite(13, HIGH);
  delay(500);

  digitalWrite(13, LOW);
  delay(500);
}
